.card {
  position: relative;
  background: #ccc;
  box-shadow: 0 0 40px #000;
  border-radius: 5px;
  max-width: 1200px;
  height: 80%;
  overflow: hidden;
  display: flex;
  flex: 0 1 80%;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: stretch;
}
